<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <!-- Brand -->
    <div class="brand-explore">
    <a class="navbar-brand" href="/listings">
      <i>
      <img src="/assets/rentifyLogo.png" alt="logo" height="64px" width="150px">
      </i>
    </a>
    </div>

    <!-- Hamburger toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible links -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
  <div class="navbar-nav text-end">
    <% if(!currUser) { %>
      <a class="nav-link" href="/signup"><b>Signup</b></a>
      <a class="nav-link" href="/login"><b>Login</b></a>
    <% } %>
    <% if(currUser){ %>
      <p class="nav-link">Welcome, <%= currUser.username %></p>

      <!-- Desktop view user circle with tooltip -->
      <div class="nav-link user-ch d-none d-md-block">
        <a href="/profile"><%= currUser.username[0].toUpperCase() %></a>
        <span class="tooltip-text">My Profile</span>
      </div>

      <!-- Mobile view 'My Profile' link -->
      <a href="/profile" class="nav-link mobile-profile d-md-none">My Profile</a>

      <a class="nav-link logout d-md-block" href="/logout">Logout</a>
    <% } %>
  </div>
</div>
  </div>
</nav>
