<% layout("/layouts/boilerplate") %>

    <div id="filters" class="offset-1">
        <div class="filter">
            <div><i class="fa-solid fa-fire"></i></div>
            <p>Trending</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-bed"></i></div>
            <p>Rooms</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-mountain-city"></i></div>
            <p>Iconic Cities</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-mountain-sun"></i></div>
            <p>Mountain</p>
        </div>
        <div class="filter">
            <div><i class="fa-brands fa-fort-awesome"></i></div>
            <p>Castles</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-person-swimming"></i></div>
            <p>Amazing pools</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-route"></i></div>
            <p>Camping</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-wheat-awn"></i></div>
            <p>Farms</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-person-snowboarding"></i></div>
            <p>Arctic</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-sailboat"></i></div>
            <p>Boat</p>
        </div>
    </div>

    <div class="row row-cols-large-4 row-cols-md-3 row-cols-sm-2 mt-3">
        <% for(listing of allListings) { %>
            <a href="/listings/<%= listing._id %>" class="listing-link" >
            <div class="card col listing-card">
                <img src="<%= listing.image.url %>" class="card-img-top" style="height: 20rem" alt="listing_img">
                <div class="card-img-overlay"></div>
                <div class="card-body">
                    <p class="card-text"><b><%= listing.title %></b> <br> &#x20B9;<%= listing.price.toLocaleString("en-IN") %> / night <i class="tax-info">&nbsp;+ 18% GST</i></p>
                </div>
            </div>
            </a>
        <% } %>
    </div>