<% layout("/layouts/boilerplate") %>
<div class="row"></div>
  <h2 class="col-6 offset-3 mb-3 mt-3">Login On Rentify</h2>
  <div class="col-6 offset-3 mb-3">

    <form action="/login" method="POST" novalidate class="needs-validation">

      <div class="mb-3">
        <label for="username" class="form-label">Username:</label>
          <input type="text" name="username" class="form-control" placeholder="Enter Username" required>
          <div class="valid-feedback">Accepted</div>
          <div class="invalid-feedback">Username should be valid!</div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
          <input type="password" name="password" class="form-control" placeholder="Enter Password" required>
          <div class="valid-feedback">Accepted</div>
          <div class="invalid-feedback">Password should be valid!</div>
      </div>
      <br>
      <button class="btn btn-success">Login</button>
      
    </form>

  </div>
</div>