<% layout("/layouts/boilerplate") %>

<link rel="stylesheet" href="/css/login.css">

    <div class="login-box p-4 rounded shadow-lg offset-4 offset-md-1">
    <div class="overlay"></div>
    <div class="login-content">
        <h3 class="text-center mb-4">LOG IN TO RENTIFY</h3>
        <form action="/login" method="POST" novalidate class="needs-validation">
            <div class="mb-3">
                <label for="username" class="form-label">USERNAME</label>
                <input type="text" name="username" class="form-control" placeholder="Enter Username" required>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please enter a username.</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">PASSWORD</label>
                <input type="password" name="password" class="form-control" placeholder="Enter Password" required>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please enter a password.</div>
            </div>
            <button type="submit" class="btn btn-primary w-100">Submit</button>
        </form>
        <p class="w-100 text-center mt-3">Don't have an account? <a class="signup-btn" href="/signup">Signup</a></p>
        </div>
    </div>
